.menu {
  flex-grow: 1;
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  a {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
