.weather-temperature-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 4rem;
    font-family: sans-serif;
  }
}

.weather-description {
  margin-bottom: 1rem;
}

.weather-info {
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.4rem;
  }
}
.forecast-calendar {
  height: 50%;
  ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    li {
      flex-grow: 1;
      max-width: 8rem;
    }
  }
}
.forecast-hourly {
  height: 50%;
  background-color: antiquewhite;
  ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
}
.active-day {
  background-color: antiquewhite;
}
