@use '../../assets/scss/variables' as var;
@use '../../assets/scss/mixins' as mi;

.weather-temperature-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      'weather-temperature umbrella'
      'weather-temperature clothing-tips';

    img {
      width: 2rem;
      height: auto;
    }
  }

  .weather-temperature {
    grid-area: weather-temperature;
  }

  .umbrella {
    grid-area: umbrella;
  }

  .clothing-tips {
    grid-area: clothing-tips;
  }

  p {
    font-size: 4rem;
    font-family: sans-serif;
  }
}

.weather-description {
  margin-bottom: 1rem;
}

.weather-info {
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    border-bottom: 0.1rem solid var.$color-2;
    padding-bottom: 0.4rem;
  }
}

.forecast-calendar {
  background: var.$color-4;

  flex-grow: 1;
  cursor: pointer;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-between;

    li {
      gap: 0.5rem;
      flex-grow: 1;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include mi.borderRight;
      @include mi.borderBottom;

      &:last-child {
        border-right: none;
      }
    }

    .active-day {
      p {
        text-shadow: 2px 2px 20px var.$color-1;
      }
      border-bottom: none;
    }
  }
}

.active-day {
  background-color: var.$color-2;
  transition: background-color 0.3s ease;
}

.forecast-day {
  font-weight: 600;
}

.forecast-day-short {
  display: none;
}

.forecast-weakened {
  color: #ffd143;
}

.forecast-icon {
  max-width: 4rem;
}

.forecast-description {
  display: inline-block;
  max-width: min-content;
  text-align: center;
}

.forecast-max-temp {
  font-weight: 600;
  font-size: 1.2rem;
}

.forecast-min-temp {
  font-size: 1.1rem;
  color: #d6d6d6;
}

.forecast-temp-hour {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.login-reminder {
  font-size: 1.3rem;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
  background-color: var.$color-2;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.forecast-hourly {
  font-size: 0.8rem;
  padding: 1rem;
  flex-grow: 1;
  background-color: var.$color-2;

  p {
    text-shadow: 2px 2px 20px var.$color-1;
    margin-bottom: 0.2rem;
  }

  ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-gap: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 955px) {
  .weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .forecast-calendar {
    height: auto;
    width: 50%;

    ul {
      flex-direction: column;

      li {
        gap: 0;
        height: 7rem;
        max-width: none;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          'forecast-day  forecast-temp'
          'forecast-day-name forecast-main'
          'forecast-icon forecast-description'
          'forecast-icon forecast-description';

        &:last-child {
          border-bottom: none;
          @include mi.borderRight;
        }
      }
      .active-day {
        border-right: none;
        @include mi.borderBottom;
      }
    }
  }
  .forecast-day {
    grid-area: forecast-day;
  }

  .forecast-day-short {
    display: inline;
  }

  .forecast-day-full {
    display: none;
  }

  .forecast-icon {
    grid-area: forecast-icon;
  }
  .forecast-temp {
    grid-area: forecast-temp;
  }
  .forecast-day-name {
    grid-area: forecast-day-name;
  }
  .forecast-day-date {
    grid-area: forecast-day-date;
  }
  .forecast-description {
    grid-area: forecast-description;
  }

  .forecast-temp-hour {
    margin-top: 0;
  }

  .forecast-hourly {
    height: auto;
    width: 50%;
    ul {
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: 1fr;

      li {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include mi.borderBottom;
      }
    }
    img {
      max-width: 3.5rem;
    }
  }
}
