@use '../../assets/scss/variables' as var;

.weather-temperature-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      'weather-temperature umbrella'
      'weather-temperature clothing-tips';
    img {
      width: 2rem;
      height: auto;
    }
  }

  .weather-temperature {
    grid-area: weather-temperature;
  }

  .umbrella {
    grid-area: umbrella;
  }

  .clothing-tips {
    grid-area: clothing-tips;
  }

  p {
    font-size: 4rem;
    font-family: sans-serif;
  }
}

.weather-description {
  margin-bottom: 1rem;
}

.weather-info {
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    border-bottom: 0.1rem solid var.$color-2;
    padding-bottom: 0.4rem;
  }
}

.forecast-calendar {
  background: var.$color-4;
  flex-grow: 1;
  ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    li {
      flex-grow: 1;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 0.2rem solid var.$color-3;
      border-bottom: 0.1rem solid var.$color-3;
      &:last-child {
        border-right: none;
      }
    }
    .active-day {
      p {
        text-shadow: 2px 2px 20px var.$color-1;
      }
      border-bottom: none;
    }
  }
}

.forecast-icon {
  max-width: 4rem;
}

.forecast-description {
  display: inline-block;
  max-width: min-content;
  text-align: center;
}

.forecast-hourly {
  font-size: 0.8rem;
  padding: 1rem;
  flex-grow: 1;
  background-color: var.$color-2;
  p {
    text-shadow: 2px 2px 20px var.$color-1;
    margin-bottom: 0.2rem;
  }
  ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-gap: 1rem;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.active-day {
  background-color: var.$color-2;
}

@media (max-width: 955px) {
  .weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .forecast-calendar {
    height: auto;
    width: 50%;
    ul {
      flex-direction: column;
      li {
        height: 7rem;
        max-width: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          'forecast-day  forecast-temp'
          'forecast-day-name forecast-main'
          'forecast-icon forecast-description'
          'forecast-icon forecast-description';
        // gap: 1rem;
        border-right: 0.1rem solid var.$color-3;
        border-bottom: 0.2rem solid var.$color-3;
      }
      .active-day {
        border-right: none;
        border-bottom: 0.2rem solid var.$color-3;
      }
    }
  }
  .forecast-day {
    grid-area: forecast-day;
  }
  .forecast-icon {
    grid-area: forecast-icon;
  }
  .forecast-temp {
    grid-area: forecast-temp;
  }
  .forecast-day-name {
    grid-area: forecast-day-name;
  }
  .forecast-day-date {
    grid-area: forecast-day-date;
  }
  .forecast-description {
    grid-area: forecast-description;
  }

  .forecast-hourly {
    height: auto;
    width: 50%;
    ul {
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: 1fr;
      li {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
