@use '../../assets/scss/variables' as var;

.auth-admin-container {
  display: grid;
  place-items: center;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.auth-admin {
  width: 600px;
  background: var.$color-3;
  padding: 2rem;
  margin: 0.5rem;
}

@media screen and (max-width: 620px) {
  .auth-admin {
    width: 100%;
  }
}
button {
  color: var.$color-1;
  &:disabled {
    color: var.$color-2;
  }
}
