#search {
  width: 100%;
  background-color: gold;
}
.search-bar {
  width: 100%;
  position: relative;
}
.city-tips {
  width: 100%;
  position: absolute;
  background-color: rgba(245, 222, 179, 0.643);
}
.hide {
  display: none;
}
