@use '../../assets/scss/variables' as var;

.about-background {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
}

.about-container {
  max-width: 1200px;
  background: var.$color-3;
  padding: 2rem;
}

.about-inf {
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
  margin-bottom: 1rem;
  a {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

ol {
  font-size: 1.2rem;
  list-style: decimal;
  list-style-position: inside;
}
ul {
  padding: 1rem;
  list-style-position: inside;
  li {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 600px) {
  .about-common {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}
