@use './assets/scss/variables' as var;
@import './assets/scss/reset';

.background {
  display: flex;
  justify-content: center;
}
.container {
  min-height: 35rem;
  box-shadow: 2px 5px 20px 2px #a5a8ab;
  background: var.$color-3;
  font-family: sans-serif;
  color: #fff;
  margin: 0.5rem;
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.weather {
  width: 100%;

  display: flex;
}

.current-weather {
  width: 33%;
  padding: 1rem;
}

.weather-info-label {
  color: #e6e6e6;
}
.weather-description {
  font-weight: bolder;
}

.weather-info-value {
  text-shadow: 2px 2px 15px var.$color-1;
  font-weight: bolder;
  text-align: right;
}

.forecast-weather {
  width: 67%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 955px) {
  .weather {
    flex-direction: column;
  }
  .current-weather {
    width: auto;
  }
  .forecast-weather {
    width: auto;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .forecast-weather {
    flex-direction: row;
  }
}
