@import './assets/scss/reset';

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather {
  width: 100%;
  background-color: red;
  display: flex;
}
.current-weather {
  border: 1px solid black;
  width: 30%;
  background-color: white;
  padding: 1rem;
}
.forecast-weather {
  border: 1px solid black;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1001px) {
  .weather {
    flex-direction: column;
  }
  .current-weather {
    width: auto;
  }
  .forecast-weather {
    width: auto;
  }
}
@media (max-width: 700px) {
  .forecast-weather {
    flex-direction: row;
  }
}
